@model List<Incident>
@{
    ViewBag.Title = "List Incidents for Technician";
}

<h4>Technician: @ViewBag.Technician</h4>
<h4>@TempData["incMsg"]</h4>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Date Opened</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incident in Model)
                {
                    <tr>
                        <td>@incident.Title</td>
                        <td>@incident.Customer.FullName</td>
                        <td>@incident.Product.Name</td>
                        <td>@incident.DateOpened.ToShortDateString()</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Get" class="btn btn-primary">Switch Technician</a>
    </div>
</div>