@model RegistrationProductViewModel
@{
    ViewBag.Title = "Registrations";
}
@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h4>Customer: @Model.CurrentCustomer.FullName</h4>
<h4>@TempData["regMsg"]</h4>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Registration registration in Model.Registrations)
                {
                    <tr>
                        <td>@registration.Product.Name</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@registration.CustomerID" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<h4>Product</h4>
<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="NewRegistration.ProductID"
                asp-items="@(new SelectList(Model.Products, "ProductID", "Name"))" class="form-control">
            <option selected value="">Select a product...</option>
        </select>
        <input type="hidden" asp-for="NewRegistration.CustomerID" value="@Model.CurrentCustomer.CustomerID" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>