@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h4>@title</h4>

<form asp-action="Edit" method="post">
    <div class="form-group row">
        <div class="col-sm-2"><label>First Name</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.FirstName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Last Name</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.LastName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Address</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.Address" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>City</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.City" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>State</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.State" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Postal Code</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.PostalCode" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Country</label></div>
        <div class="col-sm-4">
            <select asp-for="CountryID"
                    asp-items="@(new SelectList(ViewBag.Countries, "CountryID", "Name", Model.CountryID.ToString()))"
                    class="form-select w-100 h-100">
                <option selected value="">Select a country...</option>
            </select>
        </div>
        <div class="col">
            <span asp-validation-for="CountryID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Email</label></div>
        <div class="col-sm-4">
            <input asp-for="@Model.Email" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Phone</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.Phone" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="CustomerID" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>