@model List<Technician>
@{
    ViewBag.Title = "Technician Manager";
}

<h4>@ViewBag.Title</h4>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var technician in Model)
                {
                    <tr>
                        <td>@technician.Name</td>
                        <td>@technician.Email</td>
                        <td>@technician.Phone</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@technician.TechnicianID" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@technician.TechnicianID" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn btn-primary">Add Technician</a>
    </div>
</div>